.error-text {
  color: red;
}
.container{
  padding: 5px;
  padding-left: 50px;
}
.comment{
  background-color: whitesmoke;
}
.siteTitle{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.md{
  width: 90%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
body{
  background-color: #e7f5eb;
  overflow-x: hidden;
  cursor: default;
}
.siteContent{
  margin-top: 60px;
}
.line{
  width: 100%;
  height: 1px;
  background-color: black;
}
.typeName{
  font-weight: 600;
}
.centerInFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
*{
  transition: 0.3s;
}