.login-form {
    width: 900px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    height: 100%;
    min-height: 50px;
    box-sizing:border-box;
}
.login-form textarea {
    width: 880px;
    height: auto;  padding:10px;

    resize: none;
}
.login-form input:focus,
.login-form textarea {
    outline: none;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    background-color: #01b636;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    color: #ffffff;
}
.login-form input[type="submit"]:hover {
    background-color: #3bd16f;
}
.selectorContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 50px;
    padding-top: 5px;
    box-sizing: border-box;
}
.selectorContainer > #head {
    width: 25%;
    text-align: right;
    padding-right: 20px;
}
.selectorContainer > .bordered{
    background-color: #01b636;
    color: white;
    border: 1px solid black;
}
.selectorContainer > #val {
    box-sizing: border-box;
    width: 75%;
    height: 55px;
    position: relative;
    border-left: none;
}
#val > select{
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
}
#tagCont{
    margin-left: 27%;
    width: 73%;
    word-wrap: normal;
    display: flex;
    flex-wrap: wrap;
}
.taginput{
    height: 100%;
}
.imageInsertBar{
    width: 100%;
    background-color: rgb(219, 219, 219);
    height: 30px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 15px;
}
.imageInsertBar > input{
    width: 70%;
    height: 100%;
}
.imageInsertBar > button{
    width: 30%;
    border-radius: 0;
    border: none;
    border-left: 1px solid black;
    height: 100%;
    color: white;
    background-color: #01b636;
}
.imageInsertBar > button:hover{
    background-color: #3bd16f;
}
.singleImage{
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}
.singleImage > img{
    width: 290px;
    height: 290px;
    top: 0;
    left: 0;
    transform: translate(5px, 5px);
}
.singleImage > div{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
}
.singleImage > button{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}
.imageDrawer{
    display: inline-flex;
    flex-wrap: wrap;
}