.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
}
.navbar ul{
    height: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 300px;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    width: 100%;
}
.navbar li{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: 22px Snell Roundhand, cursive;
    color: black;
    border-bottom: none;
    cursor: pointer;
    //background-color: #ffffff;
    transition: 0.5s;
    z-index: 2;
}
.navbar li::before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    height: 0%;
    width: 100%;
    transition: 0.5s;
    background-color: #3bd16f;
}
.navbar li:hover{
    font: 25px Snell Roundhand, cursive;
    width: 140%;
    height: 100%;
}
.navbar li:hover::before{
    height: 100%;
}
.navbar .li_offStyle::before{
    content: none;
}
.navbar li:hover .logout_button{
    background-color: #3bd16f;
    width: 100%;
    height: 70%;
}
.logout_button{
    background-color: #01b636;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80px;
    height: 50%;
    color: white;
    font: 20px Snell Roundhand, cursive;
    transition: 1.5s;
}
/*
.navbar li div::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 10px;
    transition: 1s;
    background-color: #52ab98;
}
.navbar li:hover div::before{
    width: 100%;
}*/