.profile-cont{
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.pc-img{
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
}
.pc-img img{
    width: 100%;
    height: 100%;
}
.cR-nick{
    font-weight: 600;
    color: rgb(80, 79, 79);
    cursor: pointer;
}
.cR-nick:hover{
    color: black;
}